.albumtrackList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 33rem;
}

.title-section {
    width: 85%;
    height: 8rem;
    border-bottom: 1px solid darkgrey;
}

.title-section>div:first-child {
    display: flex;
    align-items: flex-end;
    width: 35%;
    height: 5rem;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 1%;
}

.title-section>div:last-child {
    display: flex;
    align-items: center;
    width: 90%;
    height: 3rem;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: 100%;
    padding-top: 2%;
}

.cover {
    width: 12rem;
    height: 12rem;
    box-shadow: 0.8px 0px 5px 5px #e2e0e0;
}

.cover img {
    width: 100%;
    height: auto;
}

.track-list {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 33rem;
    overflow-y: scroll;
    position: relative;
}

.track-list>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-top: 1px solid lightgray;
}

.mini-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 100%;
}

.trackTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 17rem;
    height: 100%;
    padding-left: 2%;
}

.albumTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
    height: 100%;
    padding-left: 2%;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 100%;
}

.preview button {
    background-color: #ffffff;
    border: none;
    outline: none;
}

.preview button:hover {
    cursor: pointer;
    color: royalblue;
}