.audioCmd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 100%;
}

.audioCmd span:hover {
    cursor: pointer;
}

.play {
    zoom: 1.4;
}