.inputSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

.inputIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 1.8rem;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid lightgray;
}

.inputIcon span {
    zoom: 0.8;
    color: rgb(126, 125, 125);
}

.inputIcon span:hover {
    cursor: pointer;
    color: rgb(102, 99, 99);
}

.inputIcon input {
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    color: rgb(75, 73, 73);
    background-color: #ffffff;
    padding-left: 1%;
}

.inputIcon input::placeholder {
    color: rgb(75, 73, 73);
}