.library {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
}

.library>div {
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 100%;
    height: 2.85rem;
}

.library>div:nth-child(2):hover,
.library>div:nth-child(3):hover,
.library>div:last-child:hover {
    cursor: pointer;
    background-color: #EBEBEB;
}

.library>div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    padding-left: 3%;
    font-size: 0.9rem;
}

.library span {
    padding-right: 3.5%;
    color: #F85F70;
}