.playlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    border-top: 1px solid #29303B;
    border-bottom: 1px solid #29303B;
}

.playlist>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid lightgray;
}

.playlist>div>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 100%;
}

.playlist>div>div:first-child span {
    zoom: 1.2;
    color: rgb(101, 157, 192);
}

.playlist>div>div:first-child span:hover,
.playlist>div:first-child p:hover {
    cursor: pointer;
}

.input-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15rem;
    height: 100%;
}