.playingScr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}

.screen {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 80%;
    border: 1px solid darkgray;
}

.cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 100%;
    background-color: #EBEBEB;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 87%;
    height: 100%;
}

.wrapper>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.screen>div span {
    color: silver;
    zoom: 1.3;
}